<%- include('parts/top.ejs')%>
<section class="apropos" id="apropos">
  <div class="row">
    <div class="col50">
      <h2 class="titre-texte"><span>A</span> About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col50">
      <div class="img">
        <img src="img/plat3.jpg" alt="image" />
      </div>
    </div>
  </div>
</section>
<section class="temoignage" id="temoignage"></section>
<%- include('parts/footer.ejs')%>
