<%- include('parts/top.ejs')%>
<section class="expert" id="expert">
    <div class="titre">
        <h2 class="titre-texte">Our <span>E</span>xperts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="imbox">
                <img src="img/equipe1.jpg" alt="">
            </div>
            <div class="text">
                <h3>Franck leroi</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="img/equipe2.jpg" alt="">
            </div>
            <div class="text">
                <h3>Franck leroi</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="img/equipe3.jpg" alt="">
            </div>
            <div class="text">
                <h3>Franck leroi</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="img/equipe4.jpg" alt="">
            </div>
            <div class="text">
                <h3>Franck leroi</h3>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section class="temoignage" id="temoignage"></section>
  <%- include('parts/footer.ejs')%>