<%- include('parts/top.ejs')%>
<section class="menu" id="menu">
  <div class="titre">
    <h2 class="titre-texte"><span>M</span>enu</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt.
    </p>
  </div>
  <div class="contenu">
    <div class="box">
      <div class="imbox">
        <img src="img/c1.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
    <div class="box">
      <div class="imbox">
        <img src="img/c2.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
    <div class="box">
      <div class="imbox">
        <img src="img/c3.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
    <div class="box">
      <div class="imbox">
        <img src="img/c4.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
    <div class="box">
      <div class="imbox">
        <img src="img/c5.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
    <div class="box">
      <div class="imbox">
        <img src="img/c6.jpg" alt="" />
      </div>
      <div class="text">
        <h3>Special salade</h3>
      </div>
    </div>
  </div>
</section>
<section class="temoignage" id="temoignage"></section>
<%- include('parts/footer.ejs')%>
