<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Food House</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo"><span>F</span>ooD<span>H</span>ouse</a>
      <div class="menuToggle" onclick="toggleMenu();"></div>
      <ul class="navbar">
        <li><a href="/" onclick="toggleMenu();">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/expert" onclick="toggleMenu();">Expert</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact" onclick="toggleMenu();">Contact</a></li>
        <li><a href="/signin">Sign In</a></li>
      </ul>
    </header>
    <section class="banniere" id="banniere">
      <div class="contenu">
        <h2>Only Delicious Dishes</h2>
        <p>
          Welcome to our restaurant,<br />
          we offer the best service to our customers <br />
          and we are at your service
        </p>
        <a href="/menu" class="btn1"> Our Menu</a>
        <a href="#" class="btn2">Reservation</a>
      </div>
    </section>
  </body>
</html>
